<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title> 바니마켓 - 채팅</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<style>
	#bs-megadropdown-tabs > ul > li{
		font-family: 'Graduate', cursive;
		font-size: 0.85em;
	}

	#bs-megadropdown-tabs > ul > li > a{
		font-family: 'Nanum Gothic', sans-serif!important;
		font-size: 1.1em;
	}

.recievedChat{
	margin-top:2em;
}

	.recievedChat div{
		font-family: 'Nanum Gothic', sans-serif!important;
		left:2%;
		background-color: white;
		height:auto;
		width:400px;
		padding:10px;
		margin: 1em;
	}

.sentChat{
	margin-top: 2em;
	padding-left:65%;
}

.sentChat div{
	font-family: 'Nanum Gothic', sans-serif!important;
		background-color: white;
		height:auto;
		width:400px;
		padding:10px;
		margin: 1em;
}

</style>


<link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
<!-- start-smoth-scrolling -->
</head>


<body>
<!-- //script-for sticky-nav -->
<div class="logo_products">
	<div class="container" style="margin-left: 8em!important; margin-bottom: 1em;">
		
		
		<div class="w3ls_logo_products_left1">	
			<ul class="special_items"  style="padding-left: 15em;">
				<li><a href="events.html" class="NamumGFont"></a></li>
				<div class="brand_logo_container" style="margin-top: 5.5em; ">
					<a  href="index.html"><img src="images/baniLogo1.jpg" class="brand_logo" alt="Logo"></a>
				</div>
			</ul>			
		</div>
	</div>
</div>
<!-- //header -->
<!-- products-breadcrumb -->
<div class="products-breadcrumb" style="background-color: rgba(255, 166, 0, 0.678)!important;">
<div class="container">
	<ul>
		<li ><i class="fa fa-home" aria-hidden="true"></i>
			<a href="index.html" style="color: black;" class="NamumGFont">Home</a> 
			<span>|</span>
		</li>
		<li class="NamumGFont">채팅</li>
	</ul>
</div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner" >
	<div class="w3l_banner_nav_left">
		<nav class="navbar nav_bottom">
		 <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			 </div> 
			 <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav ">
				
					<li style="background-color:white!important; height:10em!important; ">
						<div class="row-md-12" >
							<div class=" "  style=" margin-bottom:0.5em; line-height:25px; text-align: center;" >
								<br>
								<span class="NamumGFont"> 환영합니다
									<strong style="font-weight: bold; color: red;"> ღ</strong>
									<strong style="font-weight: bold; ">'ᴗ'</strong>
									<strong style="font-weight: bold; color: red;"> ღ</strong>
								</span>
								<br>
								<span class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px; line-height: 22.5px;" >테스트유저</span>
								<small class="NamumGFont">님</small>
							</div>

							<div class="row-md-12">
							<div class="col-md-8" >
								<!-- 또 둘로 나눠서 쪽지랑 채팅 구분 -->
								<div class="row-md-12">
										<div class="col-md-6">
											<a href="msgList.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
												<span class="glyphicon glyphicon-envelope"></span>&nbsp;쪽지함
											</a>
										</div>
										<div class="col-md-6">
											<a href="chatList.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
												<span class="glyphicon glyphicon-comment"></span>&nbsp;채팅목록
											</a>
										</div>
								</div>
							</div>
							<div class="col-md-4">
								<a href="logout.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
									<span class="glyphicon glyphicon-remove"></span>&nbsp;로그아웃
								</a>
							</div>
						</div>

						</div>
					</li>
					
					

				<li style="background-color: rgba(255, 230, 118, 0.664)!important; height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >My Place</span></a></li>
				<li ><a href="myPage.html">마이 페이지</a></li>
			
				<li style="background-color: rgba(255, 230, 118, 0.664); height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >Community</span></a></li>
				
				<li><a href="notice.html">바니마켓 공지사항</a></li>
				<li><a href="faqBoard.html">바니마켓 FAQ</a></li>

				<li><a href="classBoard.html">교내게시판</a></li>

				<!--기숙사생 등급에게만 표출-->
				<li><a href="dormBoard.html">기숙사게시판</a></li>



				<li style="background-color: rgba(255, 230, 118, 0.664); height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >SALE LIST</span></a></li>
				<li><a href="전체.html">전체 (All)</a></li>
				<li><a href="식품.html">식품 (Foods)</a></li>
						<li><a href="전자기기.html">전자기기 (Electronics)</a></li>
					<li><a href="도서류.html">도서류 (Books)</a></li>
					<li><a href="의류.html">의류 (Clothes)</a></li>
					<li><a href="기타.html">기타 (etc)</a></li>

			

								
				</ul> 
			 </div><!-- /.navbar-collapse -->
		</nav>

	</div>
	<!-- login -->
	<div class="w3l_banner_nav_right"  style=" height:800px!important;   overflow:none!important; ">
	
		<div class="w3_login justify-content-center" style=" height:600px!important;   overflow:none!important; ">
			
			<div class="card_chatList"  style=" height:700px!important;"> 
				
				<div style="height: 800px;">
					<div class="row-md-12 "  style=" height:600px!important;  overflow:none!important; ">

					<!--채팅 화면 -->
					<div>
						<div id="chatDetail" class="col-md-9 " style="background-color: cadetblue; height: 600px; overflow:auto;">

							<div style="text-align: center; border:0.5px solid lightgray;height: 2.1em; margin:1em; padding-bottom: 4em;" >
								<br> <span class="glyphicon glyphicon-alert" style="color:white"></span>
								&nbsp;&nbsp;
								<small class="NamumGFont" style="color:white; ">신고 누적 시 강퇴 처리 됩니다. 매너있는 바니마켓 이용자가 됩시다. </small>
								<hr style="margin-top: 2em;  ">
							</div>

							<div style="margin-bottom: 2em;">
									<!-- 수신 채팅-->
									<div  class="recievedChat" >
											<div>언제 거래 가능하신가요</div>
											<div>내일 저 6시까지 풀수업인데</div>
											<div>석식 먹고 기숙사 입구에서 6시 30분 가능하세요?</div>
											<div>안 되시면 아예 저녁에 채팅 주시고 825호로 오셔도 돼여</div>
									</div>


			

								<div class="sentChat">
									<!-- 발신 채팅-->
									<div>토요일까지 </div>
									<div>혹시 홀딩 가능하신가요?ㅠ</div>
									<div>금요일 밤에 기숙사 갈 것 같은데 </div>
									<div>지금은 본가구요 </div>
									<div>금요일에 밤 늦게 갈거라... 도착하고 가기엔 너무 늦어서 민폐일것같아요 </div>
								</div>

							</div>
						</div>
						
						</div> <!--채팅 화면  끝-->
						
						<div class="col-md-3 bg-warning" style=" height: 600px; ">

							<div class="brand_logo_container " style="margin-top: 6.5em; margin-left: 6.5em; ">
									<a  href="index.html"><img src="images/userProfileEx.jpg" class="brand_logo" alt="Logo"></a>
							</div>

							<div class="" style="margin-top: 13em; text-align: center; height: 600px; ">
								
								<span class="badge badge-pill badge-info NamumGFont-bg"  >바니바니당근당근</span>
								
								<br><br>

								<span class="NamumGFont">기숙사생</span>
								<i class="NamumGFont">&nbsp;&nbsp; | &nbsp;&nbsp;</i>
								<a href="otherProfile.html" class="NamumGFont" style="color:black" >&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;놀러가기</a>
								<small class="NamumGFont">  </small>

								<hr>
								<span class="NamumGFont">평점</span>
								&nbsp;
								<span class="badge badge-pill badge-info NamumGFont-bg " >★★★★★ <small> ( 10.0점 )</small></span>

								<br><br>

								<span class="NamumGFont">최근 후기</span> <!-- 후기 작성일 기준 3개 표출-->
								<br>
								<span class="badge badge-pill badge-self NamumGFont-bg" style="width: 15em; margin-bottom: 10px;" >
									시간 잘 맞춰서 좋았어요
								</span>
								
								<span class="badge badge-pill badge-self NamumGFont-bg" style="width: 15em; margin-bottom: 10px;" >
									설명을 친절하게 해줬음
								</span>

								<span class="badge badge-pill badge-self NamumGFont-bg" style="width: 15em; margin-bottom: 10px;" >
									ㄱㅊㄱㅊ 매너있음
								</span>

							</div>
							</div>
						</div>


					</div> <!-- 프로필 끝 -->

						<!--채팅 보내기 시작 -->
						<div class="row-md-12">
							<div class="col-md-9" style="background-color:teal; height:70px;  margin-top:10px;margin-bottom:10px;">

								<form method="post">
								<div class="row-md-12">
									<div class="col-md-11" >
											<textarea class="NamumGFont" placeholder="이곳에 채팅을 입력하세요" style="width: 100%; background-color: white;  resize: none; margin-top:10px; "></textarea>
									</div>
									<div class="col-md-1">
											<button id="sendMsgButton" class="btn btn-block btn-light"  style="margin-top:10px; height:50px;">전송</button>									
										</div>
								</div>
							</form>

							</div>


							<div class="col-md-3 bg-warning" style="height: 80px;">
								<a href="" class="btn badge-danger  btn-block" data-toggle="modal" data-target="#reportUser"  style="color: white; height:70px; "><br>신고하기</a>

								<div class="modal fade" id="reportUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog " role="document" style="padding-left: 200px; padding-right: 200px; padding-top:300px;padding-bottom:300px;">
										<div class="modal-content modal-lg">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">해당 유저 신고하기</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
													
													<form method="POST">

														<input type="hidden" value="" placeholder="글 번호 ! " id="">
															
															<small>신고분류</small>
															&nbsp;&nbsp;
															<select>
																	<option value="">신고분류 선택</option>
																	<option value="">욕설 / 비방</option>
																	<option value="">허위상품 게시</option>
																	<option value="">쓸 수 없는 상품</option>
																	<option value="">공지위반</option>
																	<option value="">기타</option>
															</select>

															<br><br>
															<small style="line-height: -4em;">신고사유</small>
															<textarea class="NamumGFont"  style="height: 8em; width: 750px; margin-left: 14px;">기타 선택 사유 또는 추가 설명 작성</textarea>
										

											<br><br>

											<div class="modal-footer" style="margin-right: 1em;">
												<button type="reset" class="btn btn-info" data-dismiss="modal">신고 취소</button>
												<button type="submit" class="btn btn-danger">신고하기</button>
											</div>
										</form>
										</div>
										</div>
									</div>
							
							</div> <!-- 신고 모달 끝 -->

							</div>
						</div> <!-- 채팅 보내기 끝 -->
					
						


						<script>
							/* 채팅 스크롤 맨 하단으로 고정 */
							$("#chatDetail").scrollTop($("#chatDetail")[0].scrollHeight);


							$("#sendMsgButton").click(function() {

							});

						</script>



	<!--프로필 시작-->
										
					
				</div>
			</div>
	
<!-- //login -->
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner -->

<!-- footer -->
<div class="footer" style="background-color: rgba(0, 0, 0, 0.295);">
	<ul style="text-align: center;">
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont"> 개인정보 취급방침 |</a>  </li>
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont">이용약관 |</a> </li>
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont">판매 및 환불법적 고지</a></li>	
	</ul>
	
			<ul class="special_items"   style="text-align: center;">
					<li style=" display: inline-block;" class="NamumGFont"><i class="fa fa-phone" aria-hidden="true"></i>(+82) 10-9310-5128                        | </li>
					<li style=" display: inline-block;" class="NamumGFont"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:kimbyulha1995@gmail.com" style="color: black;">kimbyulha1995@gmail.com</a></li>
		</ul>


	<br>
		<p style="color: white; text-align: center; " class="NamumGFont">© 2020 BaRoNiYup Market. All rights reserved</p>

</div>

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
  
    
    /* QA 목록 출력 함수 */
    
   /* $(document).ready(function(){
	   
	   var $qaListArea = $("#qaListArea");
	   
	   <% for (QA qa : qaList) { %>
	   
	   var $container = $("<div>").prop("class", "container");
	   var $questionRow = $('<div class="row card">');
	   var $questionCol = $('<div class="col-md-12 card-body p-2 clickShow" style="cursor: pointer;">');
	   var $question = $('<p class="mb-0 NamumGFont">').html("<strong class="NamumGFont">Q. &nbsp;&nbsp;" + "<%= qa.getQaTitle()%></strong>");
	   var $answerRow = $('<div class="row">');
	   var $answerCol = $('<div class="col-md-12 bg-white" id="bb" style="display: none;">');
	   var $answer = $('<p class="mb-0">').html("<%= qa.getQaContent()%>");
	   
	   $container.append($questionRow.append($questionCol.append($question)));
	   $container.append($answerRow.append($answerCol.append($answer)));
	   $qaListArea.append($container);
	   
	   <% } %>
	   
	   
	   $(".clickShow").click(function(){
			
			console.log("click 실행")
			
		    if($(this).parent().next("div").children().css("display") == "none"){
		        $(this).parent().next("div").children().slideDown();
		    } else {
		        $(this).parent().next("div").children().slideUp();
		    }
		});
	   
	   
    	
		});

    

$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
}); 		*/

</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>