<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title> 바니마켓 - 다른 유저의 프로필</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">

	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<style>
	#bs-megadropdown-tabs > ul > li{
		font-family: 'Graduate', cursive;
		font-size: 0.85em;
	}

	#bs-megadropdown-tabs > ul > li > a{
		font-family: 'Nanum Gothic', sans-serif!important;
		font-size: 1.1em;
	}
	
	.accordion-box ul{
		list-style-type: none;
		margin-top:10em;
	}

span{
	font-family: 'Nanum Gothic', sans-serif;
}

.dormBoardTable thead tr th{
	text-align: center;
	color: white;
}

.dormBoardTable tbody tr td{
	text-align: center;
	color: black;
}

#table-hover tr:hover td, #table-hover tr:hover td {
  background-color: lemonchiffon;
}
</style>

<script src="css/faqBoard.css"></script>
<link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
<!-- start-smoth-scrolling -->
</head>


<body>
<!-- //script-for sticky-nav -->
<div class="logo_products">
	<div class="container" style="margin-left: 8em!important; margin-bottom: 1em;">
		
		
		<div class="w3ls_logo_products_left1">	
			<ul class="special_items"  style="padding-left: 15em;">
				<li><a href="events.html" class="NamumGFont"></a></li>
				<div class="brand_logo_container" style="margin-top: 5.5em; ">
					<a  href="index.html"><img src="images/baniLogo1.jpg" class="brand_logo" alt="Logo"></a>
				</div>
			</ul>			
		</div>
	</div>
</div>
<!-- //header -->
<!-- products-breadcrumb -->
<div class="products-breadcrumb" style="background-color: rgba(255, 166, 0, 0.678)!important;">
<div class="container">
	<ul>
		<li ><i class="fa fa-home" aria-hidden="true"></i>
			<a href="index.html" style="color: black;" class="NamumGFont">Home</a> 
			<span>|</span>
		</li>
		<li class="NamumGFont"> 다른 유저의 프로필보기 </li>
	</ul>
</div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner" >
	<div class="w3l_banner_nav_left">
		<nav class="navbar nav_bottom">
		 <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			 </div> 
			 <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav ">
				
					<li style="background-color:white!important; height:10em!important; ">
						<div class="row-md-12" >
							<div class=" "  style=" margin-bottom:0.5em; line-height:25px; text-align: center;" >
								<br>
								<span class="NamumGFont"> 환영합니다
									<strong style="font-weight: bold; color: red;"> ღ</strong>
									<strong style="font-weight: bold; ">'ᴗ'</strong>
									<strong style="font-weight: bold; color: red;"> ღ</strong>
								</span>
								<br>
								<span class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px; line-height: 22.5px;" >바니바니당근당근</span>
								<small class="NamumGFont">님</small>
							</div>

							<div class="row-md-12">
							<div class="col-md-8" >
								<!-- 또 둘로 나눠서 쪽지랑 채팅 구분 -->
								<div class="row-md-12">
										<div class="col-md-6">
											<a href="msgList.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
												<span class="glyphicon glyphicon-envelope"></span>&nbsp;쪽지함
											</a>
										</div>
										<div class="col-md-6">
											<a href="chatList.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
												<span class="glyphicon glyphicon-comment"></span>&nbsp;채팅목록
											</a>
										</div>
								</div>
							</div>
							<div class="col-md-4">
								<a href="logout.html" class="btn  NamumGFont" style="color: white; width: 100%; background-color: rgb(143, 145, 146);">
									<span class="glyphicon glyphicon-remove"></span>&nbsp;로그아웃
								</a>
							</div>
						</div>

						</div>
					</li>
				<li style="background-color: rgba(255, 230, 118, 0.664)!important; height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >My Place</span></a></li>
				<li ><a href="myPage.html">마이 페이지</a></li>
			
				<li style="background-color: rgba(255, 230, 118, 0.664); height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >Community</span></a></li>
				
				<li><a href="notice.html">바니마켓 공지사항</a></li>
				<li><a href="faqBoard.html">바니마켓 FAQ</a></li>

				<li><a href="classBoard.html">교내게시판</a></li>

				<!--기숙사생 등급에게만 표출-->
				<li><a href="dormBoard.html">기숙사게시판</a></li>



				<li style="background-color: rgba(255, 230, 118, 0.664); height:3em!important;"><span style="font-weight: bold; line-height: 3em; padding-left: 3em;" >SALE LIST</span></a></li>
				<li><a href="전체.html">전체 (All)</a></li>
				<li><a href="식품.html">식품 (Foods)</a></li>
						<li><a href="전자기기.html">전자기기 (Electronics)</a></li>
					<li><a href="도서류.html">도서류 (Books)</a></li>
					<li><a href="의류.html">의류 (Clothes)</a></li>
					<li><a href="기타.html">기타 (etc)</a></li>
				</ul> 
			 </div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>
	<!-- 마이페이지 -->
	<div class="w3l_banner_nav_right"style="margin-top: 0em!important; ">
	<div class="w3_login justify-content-center" style="margin-top: 0em!important; ">
		<div class="card_myPage"> <!-- card_myPage 시작 -->



			<div role="tabpanel"> <!--탭 시작-->

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
						
					<li role="presentation" class="active"><a href="#home" class="NamumGFont" aria-controls="home" role="tab" data-toggle="tab"><span class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px; line-height: 22.5px;" >바니바니당근당근</span>
						<small class="NamumGFont">님의</small> 정보</a></li>
					<li role="presentation"><a href="#likeList" aria-controls="likeList"  class="NamumGFont" role="tab" data-toggle="tab">찜 목록</a></li>
					<li role="presentation"><a href="#boardHistory" aria-controls="boardHistory"  class="NamumGFont" role="tab" data-toggle="tab"> 게시판 활동목록</a></li>
					<li role="presentation"><a href="#saleList" aria-controls="saleList"  class="NamumGFont" role="tab" data-toggle="tab">판매 목록</a></li>
					<li role="presentation"><a href="#review" aria-controls="review"  class="NamumGFont" role="tab" data-toggle="tab">리뷰 확인</a></li>
				</ul> 			<!-- Nav tabs -->



				<!-- Tab panes -->
				<div class="tab-content" style="height:600px;">
					<div role="tabpanel" class="tab-pane fade in active" id="home">	<!--내 프로필-->

						<div class="row-md-12" style="height: 300px;">
								<div class="col-md-2"></div>
									<div class="col-md-2" style="background-color: lemonchiffon;">
										<div class="brand_logo_container" style="margin-top: 6em; margin-left: 2.5em;">
											<img src="images/userProfileEx.jpg" class="brand_logo" alt="Logo">
										</div>
										<span class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px; line-height: 22.5px; margin-top:14em; margin-left: 4em; " >바니바니당근당근</span>
										<small class="NamumGFont">님</small>
										<br>
										<br>
									</div>
									<div class="col-md-6" style="border:2px solid lightgray; padding-top:2em; height: 260.98px;" >						

										<div class="input-group mb-3 " >
											<div class="input-group-append " >
												<span class="glyphicon glyphicon-envelope"></span>  <label style="padding-right: 2em;">아이디 </label>
												<span>banicarrot</span>
											</div>
										</div>

										<div class="input-group mb-2">
											<div class="input-group-append">
												<span class="glyphicon glyphicon-user"></span> 	<label style="padding-right: 2em;"> 닉네임 </label>
												<span>바니바니당근당근</span>
											</div>
										</div>

										<div class="input-group mb-2">
											<div class="input-group-append">
												<span class="glyphicon glyphicon-search"></span>  <label style="padding-right: 3em;"> 주소 </label>
												<span> 대전광역시 동구 우암로 352-21 </span>
											</div>
										</div> 
		
										<div class="input-group mb-2">
											<div class="input-group-append">
												<span class="glyphicon glyphicon-search"></span>  <label style="padding-right: 1em;"> 상세주소 </label>
												<span> 비전관(기숙사) 825호 </span>
											</div>
										</div>

										<div class="input-group mb-2">
											<div class="input-group-append">
												<span class="glyphicon glyphicon-education"></span>  <label style="padding-right: 1em;"> 학생구분 </label>
												<span>한국폴리텍대학 대전캠퍼스</span>
												<span> &nbsp; | &nbsp;</span>
												<span> 기숙사생 </span>
											</div>
										</div>							
									</div>
									<div class="col-md-1"></div>
								</div>
						


							<div class="row-md-12"> <!-- 최근 리뷰 3개 표출 -->
								<div class="col-md-4"></div>

								<div class="col-md-7">

									<p class="badge badge-pill NamumGFont-bg" style="width: 30em; margin-bottom: 10px; height:3em; line-height: 2.8em; background-color:rgb(255, 187, 0)" >
									<span class="NamumGFont">평점</span>
									&nbsp;
									<span class=" NamumGFont-bg " >★★★★★ <small> ( 10.0점 )</small></span>
									</p>
									<br>

									
									<p class="badge badge-pill NamumGFont-bg" style="width: 30em; margin-bottom: 10px; height:3em; line-height: 2.8em; background-color:darkcyan" >
										시간 잘 맞춰서 좋았어요
									</p>
									
									<p class="badge badge-pill NamumGFont-bg" style="width: 30em; margin-bottom: 10px; height:3em; line-height: 2.8em; background-color:darkcyan" >
										설명을 친절하게 해줬음
									</p>
									
									<p class="badge badge-pill NamumGFont-bg" style="width: 30em; margin-bottom: 10px; height:3em; line-height: 2.8em; background-color:darkcyan" >
										ㄱㅊㄱㅊ 매너있음
									</p>
								<br>
								<br> 
								<small class="NamumGFont">전체 리뷰 확인은 [리뷰 확인] 탭을 이용해주세요.</small> 
								</div>
								<div class="col-md-1"></div>
							</div>


			<!-- 좌석 평점 표시 -->
			<!--<script>
				rating();
				function rating(){
					<c:forEach var="r" items="${rating}">
						var val = "${r.seatValue}";
						var rating = "${r.rating}";
						$.each($(".s13"), function(index, item){
							if($(item).attr("value") == val){
								$(item).removeClass("s13");
								$(item).removeClass("s2");
								$(item).removeClass("s3");
								$(item).removeClass("s0");
								$(item).removeClass("s5");
								$(item).removeClass("s7");
							}
							if(rating == 1){
								$(item).addClass("s2");
							}
							if(rating == 2){
								$(item).addClass("s3");
							}
							if(rating == 3){
								$(item).addClass("s0");
							}
							if(rating == 4){
								$(item).addClass("s5");
							}
							if(rating == 5){
								$(item).addClass("s7");
							}
							if($(item).attr("value") != val){
								$(item).removeClass("s2");
								$(item).removeClass("s3");
								$(item).removeClass("s0");
								$(item).removeClass("s5");
								$(item).removeClass("s7");
							}
						});
					 </c:forEach>
				}
					$(".sLevel1").hover(function(){
						$("div[name='tk']").not("div[class='s2']").each(function(){
							$(this).removeClass();
							$(this).addClass("s13");
						});
					},function(){
						rating();
					});
					$(".sLevel2").hover(function(){
						$("div[name='tk']").not("div[class='s3']").each(function(){
							$(this).removeClass();
							$(this).addClass("s13");
						});
					},function(){
						rating();
					});
					$(".sLevel3").hover(function(){
						$("div[name='tk']").not("div[class='s0']").each(function(){
							$(this).removeClass();
							$(this).addClass("s13");
						});
					},function(){
						rating();
					});
					$(".sLevel4").hover(function(){
						$("div[name='tk']").not("div[class='s5']").each(function(){
							$(this).removeClass();
							$(this).addClass("s13");
						});
					},function(){
						rating();
					});
					$(".sLevel5").hover(function(){
						$("div[name='tk']").not("div[class='s7']").each(function(){
							$(this).removeClass();
							$(this).addClass("s13");
						});
					},function(){
						rating();
					});
			</script>-->

					</div> 	<!--내 프로필-->


					<div role="tabpanel" class="tab-pane fade" id="likeList"><!--내 찜 목록-->
						
						<table class="dormBoardTable row-md-10 table NamumGFont " style="height: 60px; margin-left:3em; width: 100em; text-align: center; overflow: none!important; ">
	
							<thead  class="" style="background-color: teal; ">
								<tr >
									
									<th scope="col">&nbsp;상품이미지</th>
									<th scope="col">&nbsp;&nbsp; 상품명</th>
									<th scope="col">&nbsp;판매자</th>
									<th scope="col">&nbsp;&nbsp;등록일</th>
									<th scope="col">&nbsp;&nbsp;</th>
					
								</tr>
							</thead>
							
							<tbody  id="table-hover"  class="chatTbody" >
				
									<tr>
										
										<td><img src="images/detailEx1.jpg" width="100" height="100"></td>
										<td><br><br>2020 시나공 정보처리기사 필기 / 실기</td>
										<td><br><br>바니바니당근당근</td>
										<td><br><br>2020.09.25</td>
										<td><br><br> 
											<a href="single.html" class="btn btn-success" style="color: white;"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;보러가기</a>		
									</tr>
									
							</tbody>
						</table>

					</div><!--내 찜 목록-->

					<div role="tabpanel" class="tab-pane fade" id="boardHistory"> <!-- 내 게시판 활동 목록 -->
						


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#myBoardList" aria-controls="myBoardList" role="tab" data-toggle="tab">쓴 글</a></li>
    <li role="presentation"><a href="#myCommentList" aria-controls="myCommentList" role="tab" data-toggle="tab">쓴 댓글</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="myBoardList"> <!--내가 쓴 글-->
			<table class="dormBoardTable row-md-10 table NamumGFont " style="height: 60px; margin-left:3em; width: 100em; text-align: center; overflow: none!important; ">
	
				<thead  class="" style="background-color: teal; ">
					<tr >
						<th scope="col">&nbsp;&nbsp; 제목</th>
						<th scope="col">&nbsp;&nbsp;등록일</th>
						<th scope="col">&nbsp;&nbsp;조회수</th>
						<th scope="col">&nbsp;&nbsp;추천수</th>
		
					</tr>
				</thead>
				
				<tbody  id="table-hover" >
	
						<tr class='clickable-row' data-href='boardDetail.html'>
							<td>이대로 괜찮을까?^^... </td>
							<td>2020.09.25</td>
							<td>0</td>
							<td>0</tr>
						
				</tbody>
			</table>
		</div> <!--내가 쓴 글-->
		
		<div role="tabpanel" class="tab-pane" id="myCommentList"> <!--내가 쓴 댓글 -->
			<table class="dormBoardTable row-md-10 table NamumGFont " style="height: 60px; margin-left:3em; width: 100em; text-align: center; overflow: none!important; ">
	
				<thead  class="" style="background-color: teal; ">
					<tr >
						<th scope="col">&nbsp;&nbsp; 제목</th>
						<th scope="col">&nbsp;&nbsp;작성자</th>
						<th scope="col">&nbsp;&nbsp;등록일</th>
					</tr>
				</thead>
				
				<tbody  id="table-hover" >
	
						<tr class='clickable-row' data-href='boardDetail.html'>
							<td>오늘 드림폴리카페 근처에서 지갑 분실하신 분? </td>
							<td>테스트유저</td>
							<td>2020.09.24</td>						
				</tbody>
			</table>
		</div> <!--내가 쓴 댓글 -->
  </div>

</div>	
					</div> <!-- 내 게시판 활동 목록 -->




					<div role="tabpanel" class="tab-pane fade" id="saleList"><!-- 상품 목록 -->
						
						<table class="dormBoardTable row-md-10 table NamumGFont " style="height: 60px; margin-left:3em; width: 100em; text-align: center; overflow: none!important; ">
	
							<thead  class="" style="background-color: teal; ">
								<tr >
									
									<th scope="col">&nbsp;Status</th>
									<th scope="col">&nbsp;상품이미지</th>
									<th scope="col">&nbsp;&nbsp; 상품명</th>
									<th scope="col">&nbsp;&nbsp;등록일</th>
									<th scope="col">&nbsp;&nbsp;</th>
					
								</tr>
							</thead>
							
							<tbody  id="table-hover"  class="chatTbody" >
									<tr>
										<td ><br><br>판매 중</td>
										<td><img src="images/detailEx1.jpg" width="100" height="100"></td>
										<td><br><br>2020 시나공 정보처리기사 필기 / 실기</td>
										<td><br><br>2020.09.25</td>
										<td><br><br>
											<a href="single.html" class="btn badge-self" style="color: white;"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;보러가기</a>
										</td>
									</tr>

									
							</tbody>
						</table>

					</div> 	<!-- 내 상품 목록 -->


					<div role="tabpanel" class="tab-pane fade" id="review" > <!-- 받은 거래 후기 -->

						<div style="overflow: auto; margin-bottom:1em;">

						<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
							<div class="row-md-12" style="margin-left:5em;">
								<div class="col-md-1"> <!--프로필사진-->
									<div class="profile_logo_container " >
											<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
									</div>
								</div> <!--프로필사진 끝-->
								
								<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
									&nbsp;
									<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
									<br><br>
								</div> <!--닉네임 끝-->
					
						
						<div class="col-md-7" >
								<span class="NamumGFont " style="line-height: 65px;">
									시간 잘 맞춰서 좋았어요
									</span>
						</div>
	
						<div class="col-md-2" style="display: inline-block;">
						</div>
				</div> 
	</div>  <!--거래 후기 하나-->

	<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
		<div class="row-md-12" style="margin-left:5em;">
			<div class="col-md-1"> <!--프로필사진-->
				<div class="profile_logo_container " >
						<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
				</div>
			</div> <!--프로필사진 끝-->
			
			<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
				&nbsp;
				<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
				<br><br>
			</div> <!--닉네임 끝-->

	
	<div class="col-md-7" >
			<span class="NamumGFont " style="line-height: 65px;">
				설명을 친절하게 해줬음
				</span>
	</div>

	<div class="col-md-2" style="display: inline-block;">
	</div>
</div> 
</div>  <!--거래 후기 하나-->

<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
	<div class="row-md-12" style="margin-left:5em;">
		<div class="col-md-1"> <!--프로필사진-->
			<div class="profile_logo_container " >
					<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
			</div>
		</div> <!--프로필사진 끝-->
		
		<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
			&nbsp;
			<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
			<br><br>
		</div> <!--닉네임 끝-->


<div class="col-md-7" >
		<span class="NamumGFont " style="line-height: 65px;">
			ㄱㅊㄱㅊ 매너있음
			</span>
</div>

<div class="col-md-2" style="display: inline-block;">
</div>
</div> 
</div>  <!--거래 후기 하나-->
<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
	<div class="row-md-12" style="margin-left:5em;">
		<div class="col-md-1"> <!--프로필사진-->
			<div class="profile_logo_container " >
					<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
			</div>
		</div> <!--프로필사진 끝-->
		
		<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
			&nbsp;
			<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
			<br><br>
		</div> <!--닉네임 끝-->


<div class="col-md-7" >
		<span class="NamumGFont " style="line-height: 65px;">
			ㅂㄹ... 매너 없는듯
			</span>
</div>

<div class="col-md-2" style="display: inline-block;">
</div>
</div> 
</div>  <!--거래 후기 하나-->

<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
	<div class="row-md-12" style="margin-left:5em;">
		<div class="col-md-1"> <!--프로필사진-->
			<div class="profile_logo_container " >
					<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
			</div>
		</div> <!--프로필사진 끝-->
		
		<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
			&nbsp;
			<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
			<br><br>
		</div> <!--닉네임 끝-->


<div class="col-md-7" >
		<span class="NamumGFont " style="line-height: 65px;">
			기숙사안에서 만나서 편했어여
			</span>
</div>

<div class="col-md-2" style="display: inline-block;">
</div>
</div> 
</div>  <!--거래 후기 하나-->

<div class="row-md-12 reply_display"> <!--거래 후기 하나-->
	<div class="row-md-12" style="margin-left:5em;">
		<div class="col-md-1"> <!--프로필사진-->
			<div class="profile_logo_container " >
					<img src="images/userBasicProfile.jpg" class="profile_logo" alt="Logo" >			
			</div>
		</div> <!--프로필사진 끝-->
		
		<div class="col-md-2" style=" padding-top:1.1em;"> <!--닉네임-->
			&nbsp;
			<small class="badge badge-pill badge-info NamumGFont"  style="font-size: 15px;" >테스트유저</small>
			<br><br>
		</div> <!--닉네임 끝-->


<div class="col-md-7" >
		<span class="NamumGFont " style="line-height: 65px;">
			나눔받았어여
			</span>
</div>

<div class="col-md-2" style="display: inline-block;">
</div>
</div> 
</div>  <!--거래 후기 하나-->

</div>
					</div> <!-- 받은 거래 후기 -->

					<div role="tabpanel" class="tab-pane fade" id="1on1"> <!-- 1대1문의 -->

												
						<table class="dormBoardTable row-md-10 table NamumGFont " style="height: 60px; margin-left:3em; width: 100em; text-align: center; overflow: none!important; ">
	
							<thead  class="" style="background-color: teal; ">
								<tr >
							
									<th scope="col">&nbsp;문의 제목</th>
									<th scope="col">&nbsp;&nbsp;작성일</th>
									<th scope="col">&nbsp;&nbsp;답변여부</th>
					
								</tr>
							</thead>
							
							<tbody  id="table-hover"  class="chatTbody" >
									<tr class='clickable-row' data-href='1on1Detail.html' >
										<td >저 학교 편입했는데 학교 이름 바꿔주세요</td>
										<td>2020.09.27</td>
										<td>O</td>
									</tr>

									
							</tbody>
						</table>

						<div class="modal fade" id="1on1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog " role="document" style="padding-left: 200px; padding-right: 200px; padding-top:300px;padding-bottom:300px;">
								<div class="modal-content modal-lg">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">내 정보 수정하기</h5>
									</div>
									<div class="modal-body" style="margin-left:1em;">
											
											<form method="POST" action="profileEdit" >

												<div class="" style="text-align: center; border:0.5px solid lightgray;height: 3.5em; ">
													<span class="glyphicon glyphicon-alert"></span>
													&nbsp;&nbsp;
													<small class="NamumGFont"> 비밀번호 변경 시 변경 된 비밀번호 입력 및 확인 후 변경해주세요.<br>
														비밀번호 이외 정보 변경 시 사용중인 비밀번호 입력 및 확인 후 수정버튼을 눌러주세요. </small>
												</div>

												<div class="input-group mb-3 " style="margin-top:15px;" >
													<div class="input-group-append " >
														<span class="glyphicon glyphicon-envelope"></span>  <label style="padding-right: 2em;">아이디 </label>
														<span class=" NamumGFont"  style="width: 35em;" >&nbsp;&nbsp;banicarrot</span>
													
													</div>
												</div>
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-lock"></span>  <label style="padding-right: 1em;">비밀번호 </label>
														<input type="password" name="" class="input_pass NamumGFont" value="" placeholder="&nbsp;&nbsp;8~30글자 입력 가능 " style="width: 35em;">
														<small class="NamumGFont" style="color: green;">&nbsp;&nbsp; 사용 가능</small>
														<small class="NamumGFont" style="color: red;">&nbsp;&nbsp; 사용 불가능</small>
													</div>
												</div>
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-lock"></span>  <label style="padding-right: 3em;">확인 </label>
														<input type="password" name="" class="input_pass NamumGFont" value="" placeholder="&nbsp;&nbsp;비밀번호 확인 " style="width: 35em;">
														<small class="NamumGFont" style="color: green;">&nbsp;&nbsp; 일치</small>
														<small class="NamumGFont" style="color: red;">&nbsp;&nbsp; 불일치</small>
													</div>
												</div>
												
						
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-user"></span> 	<label style="padding-right: 2em;"> 닉네임 </label>
														<input type="text" name="" class="input_pass NamumGFont" value="&nbsp;&nbsp;바니바니당근당근"  style="width: 35em;">
														<small class="NamumGFont" style="color: green;">&nbsp;&nbsp; 사용 가능</small>
														<small class="NamumGFont" style="color: red;">&nbsp;&nbsp; 사용 불가능</small>
													</div>
												</div>														
				
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-search"></span>  <label style="padding-right: 3em;"> 주소 </label>
														<input type="text" name="" class="input_pass NamumGFont" value="&nbsp;&nbsp;대전광역시 동구 우암로 352-21
														"  style="width: 35em;" readonly>
														<button onclick="" class="btn btn-sm btn-info NamumGFont">주소검색</button>
													</div>
												</div> <!-- 주소 API -->
				
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-search"></span>  <label style="padding-right: 1em;"> 상세주소 </label>
														<input type="text" name="" class="input_pass NamumGFont" value="&nbsp;&nbsp;비전관(기숙사) 825호" style="width: 35em;">
													</div>
												</div>
										
												<div class="input-group mb-2">
													<div class="input-group-append">
														<span class="glyphicon glyphicon-phone-alt"></span>  <label style="padding-right: 2em;"> 연락처 </label>
														<input type="number" name="" class=" NamumGFont" value="010" style="width: 10.3em;">
														<i> &nbsp; - &nbsp; </i>
														<input type="number" name="" class=" NamumGFont" value="9310" style="width: 10.5em;">
														<i> &nbsp; - &nbsp; </i>
														<input type="number" name="" class=" NamumGFont" value="5128"  style="width: 10.5em;">
													</div>
												</div>




												<small class="NamumGFont">기본 정보 외 다른 정보 변경(ex. 학교변경, 학생구분 변경 등)은 1:1 문의를 진행해주세요. </small> 
												<br>
																																			

									<div class="modal-footer" style="margin-right: 1em; margin-top:1em;">
										<button type="reset" class="btn btn-danger" data-dismiss="modal">수정 취소</button>
										<button type="submit" class="btn btn-success">수정하기</button>
									</div>
								</form>
								</div>
								</div>
							</div>
					
					</div> 

					</div> <!-- 1대1문의 -->

				</div> <!-- Tab panes -->
			
			</div> 

		</div> <!-- 탭 끝 -->







		</div> <!-- card_myPage 끝 -->

	</div>	
<!-- //login -->
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner -->

<!-- footer -->
<div class="footer" style="background-color: rgba(0, 0, 0, 0.295);">
	<ul style="text-align: center;">
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont"> 개인정보 취급방침 |</a>  </li>
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont">이용약관 |</a> </li>
		<li style=" display: inline-block;"><a href="#" style="color: white;" class="NamumGFont">판매 및 환불법적 고지</a></li>	
	</ul>
	
			<ul class="special_items"   style="text-align: center;">
					<li style=" display: inline-block;" class="NamumGFont"><i class="fa fa-phone" aria-hidden="true"></i>(+82) 10-9310-5128                        | </li>
					<li style=" display: inline-block;" class="NamumGFont"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:kimbyulha1995@gmail.com" style="color: black;">kimbyulha1995@gmail.com</a></li>
		</ul>


	<br>
		<p style="color: white; text-align: center; " class="NamumGFont">© 2020 BaRoNiYup Market. All rights reserved</p>

</div>

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
  
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
    /* QA 목록 출력 함수 */
    
   /* $(document).ready(function(){
	   
	   var $qaListArea = $("#qaListArea");
	   
	   <% for (QA qa : qaList) { %>
	   
	   var $container = $("<div>").prop("class", "container");
	   var $questionRow = $('<div class="row card">');
	   var $questionCol = $('<div class="col-md-12 card-body p-2 clickShow" style="cursor: pointer;">');
	   var $question = $('<p class="mb-0 NamumGFont">').html("<strong class="NamumGFont">Q. &nbsp;&nbsp;" + "<%= qa.getQaTitle()%></strong>");
	   var $answerRow = $('<div class="row">');
	   var $answerCol = $('<div class="col-md-12 bg-white" id="bb" style="display: none;">');
	   var $answer = $('<p class="mb-0">').html("<%= qa.getQaContent()%>");
	   
	   $container.append($questionRow.append($questionCol.append($question)));
	   $container.append($answerRow.append($answerCol.append($answer)));
	   $qaListArea.append($container);
	   
	   <% } %>
	   
	   
	   $(".clickShow").click(function(){
			
			console.log("click 실행")
			
		    if($(this).parent().next("div").children().css("display") == "none"){
		        $(this).parent().next("div").children().slideDown();
		    } else {
		        $(this).parent().next("div").children().slideUp();
		    }
		});
	   
	   
    	
		});

    

$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
}); 		*/

</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>